<div class="title"> research projects </div>

<div class="container">
	<mat-card class="research-card" *ngFor="let project of projects.undergraduate; let i=index">
	  <mat-card-header>
	    <mat-card-title><b>{{project.title}}</b> {{project.subtitle}}</mat-card-title>
	  </mat-card-header>

	  <mat-card-content
	  		[style.overflow]="'auto'" >
	  	<img [src]="project.main_img" alt="Photo of Russia" width=100px>
	    <p *ngFor= "let para of project.body; let j=index"
	    	[innerHTML]="para">
	    </p>
	  </mat-card-content>
	</mat-card>
</div>