<div class="picture"> 
	<img src="assets/img/scope.jpg" alt="Header image of me taking a picture of sea stacks in northern Scotland." width=100%>
</div>

<div class="title"> about me </div>

<div class="text"> 
	<p>
		If you're interested in my academic achievements, check out the 'research' and 'resume' tabs (above), or peruse my CV (linked on the landing page). Here instead I will detail some tidbits of my life that won't be gleaned from any of the aforementioned resources:
	</p>

	<p>
		I cobbled together an <a href="https://youtu.be/yY6lwwgFrPk">all-female Russian barbershop quartet</a> for a charity concert at the end of my senior year in undergrad. Arranging, practicing, and performing with those ladies was one of the highlights of my musical career. We were a one-hit wonder, it's true--but what a wonder we were.
	</p>

	<p>
		Creativity is important to me, especially when attempting something as grueling as graduate school. Outlets include baking Russian layered honey-cakes; sewing my own Halloween costume; knitting my first pair of socks; writing short stories; and programming an object-oriented choose-your-own-adventure game in Python.
	</p>

	<p>
		Finally, were it not for my time traipsing through the woods with best friends and siblings, I wouldn't be the ecologist I am today. We learned which plants to eat and which to avoid; trial-ed and error-ed our way into solid gardening skills; and followed our explorers' noses deep into the heart of the woods. Above all, I gained that ease with nature that only comes through long hours spent listening to the wind and watching light filter through leaves. Shoutout to the SOP, my forest-family, who were there right along with me; you're the reason I'm here today. 
	</p>

	<p>
		Find me:  Traveling the world with my freshman hallmates (up next--Australia and Hawaii!); <a href="https://www.inaturalist.org/projects/mastif">measuring crop counts on masting trees</a>; studying the art of aikido; or eating my weight in Thai food, probably.
	</p>
</div>