$primary-pad: 50px
$primary-font: 'Montserrat', sans-serif
$secondary-font: 'Open Sans', sans-serif
$active-color: #00877a

::ng-deep .forest
    background-image: url('../assets/img/scotland_forest.JPG')

::ng-deep .site-header 
    font-family: $primary-font
    font-size: 40px
    letter-spacing: 3px
    text-align: center
    vertical-align: center
    margin: 5%

::ng-deep .active
    background-color: $active-color

::ng-deep .title 
    font-family: $primary-font
    font-size: 30px

::ng-deep .subtitle 
    font-family: $primary-font
    font-size: 30px

::ng-deep .text
    font-family: $secondary-font
    font-size: 20px
    font-weight: 10
    padding-left: 20px

::ng-deep .navbar
    text-align: center
    font-family: $primary-font
    font-size: 16px
    color: red

::ng-deep .page 
    padding: 10%

::ng-deep a 
    font-family: $primary-font
    font-size: 100px
