<!-- <mz-navbar navbarClass="blue">
  <div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16px">
  <mz-navbar-item-container align="center">
    <mz-navbar-item itemClass="myClass"><a routerLink="home" routerLinkActive="active" href="#">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="about" routerLinkActive="active" href="#">About</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="projects" routerLinkActive="active" href="#">Projects</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="media" routerLinkActive="active" href="#">Media</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="cv" routerLinkActive="active" href="#">CV</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="contact" routerLinkActive="active" href="#">Contact</a></mz-navbar-item>
  </mz-navbar-item-container>
  </div>
</mz-navbar> -->
<div class="sticky-nav-wrapper">
  <nav class="sticky-nav" ngStickyNav fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16px">
    <div class="myClass"><a routerLink="home" routerLinkActive="active" href="#">Home</a></div>
    <div class="myClass"><a routerLink="about" routerLinkActive="active" href="#">About</a></div>
    <div class="myClass"><a routerLink="projects" routerLinkActive="active" href="#">Projects</a></div>
    <div class="myClass"><a routerLink="media" routerLinkActive="active" href="#">Media</a></div>
    <div class="myClass"><a routerLink="cv" routerLinkActive="active" href="#">CV</a></div>
    <div class="myClass"><a routerLink="contact" routerLinkActive="active" href="#">Contact</a></div>
  </nav>
</div>
