<mz-navbar navbarClass="teal" stickybits style="height:300px">
  <div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item><a routerLink="home" routerLinkActive="active" href="#">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="about" routerLinkActive="active" href="#">About</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="projects" routerLinkActive="active" href="#">Projects</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="media" routerLinkActive="active" href="#">Media</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="cv" routerLinkActive="active" href="#">CV</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="contact" routerLinkActive="active" href="#">Contact</a></mz-navbar-item>
  </mz-navbar-item-container>
  </div>
</mz-navbar>